.spotlight {
  max-height: 500px;
  overflow: hidden;
}

.icons {
  width: 90%;
  margin: auto;
}

.icons li {
  max-width: 15%;
}

.major {
  margin-bottom: 0 !important;
}

.icons li img {
  max-width: 100%;
}

.wrapper.style1 {
  background-color: rgba(255, 255, 255, 0.9);
}

.wrapper.style1 h2 {
  color: black;
  border-color: rgba(0, 0, 0, 0.5) !important;
}

.wrapper.style1 p {
  color: black !important;
  margin-bottom: 0;
}

.wrapper.style1 strong,
.wrapper.style1 b {
  color: black;
}

.wrapper > .inner {
  width: 65em;
  margin: 0 auto;
}

.features li {
  padding: 3em 1.5em 2.25em 2.25em;
  display: flex;
  flex-direction: column;

  position: relative;
  text-align: left;
  width: 33.33%;
  font-size: 1em;
}

.fas,
.far {
  color: #33e0c9;
  font-size: 40px;
  margin-bottom: 25px;
  align-self: center;
}

.features li h3 {
  font-size: 20px;
  text-align: center;
  padding: 0 50px;
}

.features li p {
  font-size: 18px;
  padding: 0 10px;
}

.violet {
  font-weight: 600;
  font-style: italic;
  color: #33e0c9;
}

.negra {
  font-weight: 600;
  font-style: italic;
  color: #000000;
}

#contacto {
  background-color: rgba(29, 36, 42, 0.95);
}

#contacto p {
  width: 60%;
}

input[type="tel"]:focus {
  box-shadow: rgb(33, 178, 166) 0px 0px 0px 2px;
}

#footer .copyright li {
  border-left: none;
  display: inline-block;
  line-height: 1em;
  margin-left: 0;
  padding-left: 0;
}

#footer .copyright {
  margin-top: 10px;
}

#footer {
  padding-top: 25px;
}

body.landing #footer {
  background-color: rgba(29, 36, 42, 0.95);
}

#footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.columna-contacto {
  margin-right: 150px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.columna-contacto {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contacto {
  padding: 6em 0 1em 0;
}

#footer ul {
  padding-left: 0;
}

#footer ul li {
  list-style: none;
  align-self: flex-start;
  text-align: left;
}

#footer ul li a {
  border-bottom: none;
}

#footer .fas,
#footer .far {
  color: #33e0c9;
  font-size: 14px;
  margin-right: 5px;
}

#footer .telefono .fas,
#footer .telefono .far {
  color: #33e0c9;
  font-size: inherit;
  margin-right: 5px;
}

input[type="submit"].primary,
.button.primary {
  background-color: rgba(51, 224, 201, 0.85);
  box-shadow: none !important;
  color: #ffffff !important;
}

input[type="submit"].primary:hover,
.button.primary:hover {
  background-color: rgba(51, 224, 201, 0.65) !important;
}

.telefono {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.telefono li {
  margin-right: 50px;
}

@media (max-width: 1500px) {
  .columna-contacto {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 1200px) {
  .features {
    width: 90%;
    margin: auto;
  }
  .features li {
    padding: 2em 1.5em 2.25em 2.25em;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    width: 33.33%;
    font-size: 1em;
  }

  .fas,
  .far {
    color: #33e0c9;
    font-size: 30px;
    margin-bottom: 25px;
    align-self: center;
  }

  .features li h3 {
    font-size: 15px;
    text-align: center;
    padding: 0 50px;
  }

  .features li p {
    font-size: 16px;
    padding: 0 10px;
  }

  #contacto .inner {
    width: 75%;
    margin: auto;
  }

  .telefono li {
    margin-right: 10px;
  }

  #contacto p {
    width: 100%;
  }
}

@media (max-width: 979px) {
  .spotlight {
    display: flex;
    flex-direction: row;
  }

  .wrapper > .inner {
    width: 100%;
    margin: 0 auto;
  }

  .features {
    width: 95%;
  }

  .features li {
    padding: 2em 1.5em 1.25em 2em;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    width: 33.33%;
    font-size: 1em;
  }

  .features li h3 {
    font-size: 15px;
    text-align: center;
    padding: 0 25px;
  }

  .features li p {
    font-size: 14px;
    padding: 0 10px;
  }

  #contacto {
    background-image: none;
  }

  .columna-contacto:nth-child(1) {
    display: none;
  }

  #footer .wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 733px) {
  #banner {
    height: 100vh;
  }
  .icons {
    width: 70%;
  }
  .icons li {
    max-width: 30%;
  }

  .features {
    width: 100%;
  }

  .features li {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    width: 55%;
    font-size: 1em;
    border-top: none;
  }

  .fas,
  .far {
    color: #33e0c9;
    font-size: 30px;
    margin-bottom: 25px;
    align-self: center;
  }

  .features li h3 {
    font-size: 15px;
    text-align: center;
    padding: 0 5px;
  }

  .features li p {
    font-size: 14px;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .spotlight {
    display: flex;
    flex-direction: column-reverse;
    min-height: fit-content;
  }

  .spotlight:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    min-height: fit-content;
  }

  .spotlight img {
    display: ;
  }

  .spotlight .content {
    width: 80%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .icons.major {
    width: 95%;
  }

  .icons li {
    min-width: 47.5%;
  }

  .telefono {
    margin-bottom: 10px;
  }

  .major {
    width: 80%;
    margin: auto !important;
  }

  #contacto header {
    text-align: center;
  }

  .telefono {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  .telefono li {
    width: 100%;
    text-align: center;
  }

  .telefono li a {
    display: block;
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .columna-contacto div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #contacto .inner {
    width: 90%;
  }

  #footer .icons li {
    min-width: 0%;
  }

  .columna-contacto h4 {
    width: 100%;
    display: block;
    text-align: center;
  }

  .columna-contacto {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .features .icon {
    width: 90%;
    text-align: center;
  }

  #footer {
    padding-top: 0;
  }

  .spotlight .content h2 {
    border-bottom: solid 1.5px #33e0c9bd;
  }
}

/* CSS Boton WP */

.whatsapp {
  transition: 0.5s;
  position: fixed;
  left: 30px;
  bottom: 50px;
  /* display: none; */
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: #23bda8;
  line-height: 43.5px;
  border-radius: 50%;
  padding-top: 1px;
  padding-left: 1px;
  font-size: 30px;
  z-index: 5;
  border: solid white 2px;
}

.whatsapp:hover {
  transition: 0.5s;
  background: #33e0c983;
  color: white;
  border: solid white 2px;
}

.whatsapp:active,
.whatsapp:focus {
  background: #33e0c983;
}

.whatsapp i {
  font-weight: 500;
}

.mensaje-formulario {
  position: fixed;
  display: none;
  top: 60px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #23bda8;
}

.message-fail {
  background-color: rgb(230, 87, 87);
}

.boton-subir {
  position: fixed;
  right: 30px;
  bottom: 50px;
  border-bottom: none;
  border-radius: 2.5px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23bda8c4;
  transition: 1s;
  color: white;
}

.boton-subir:hover {
  opacity: 0.85;
  transition: 1s;
}

.boton-subir i {
  margin: 0;
  font-size: 20px;
  color: white;
}

@media (max-width: 600px) {
  .whatsapp {
    transition: 0.5s;
    position: fixed;
    left: 15px;
    bottom: 25px;
    /* display: none; */
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: #23bda8;
    line-height: 43.5px;
    border-radius: 50%;
    padding-top: 1px;
    padding-left: 1px;
    font-size: 30px;
    z-index: 5;
    border: solid white 2px;
  }

  .whatsapp:hover {
    transition: 0.5s;
    background: #33e0c983;
    color: white;
    border: solid white 2px;
  }

  .boton-subir {
    position: fixed;
    right: 15px;
    bottom: 25px;
    border-bottom: none;
    border-radius: 2.5px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23bda8c4;
    transition: 1s;
    color: white;
  }
  .boton-subir i {
    margin: 0;
    font-size: 20px;
    color: white;
  }

  .mensaje-formulario {
  position: fixed;
  display: none;
  z-index: 9999999;
  top: 0px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

}


@media (max-width: 850px) {
  .whatsapp {
    transition: 0.5s;
    position: fixed;
    left: 15px;
    bottom: 25px;
    /* display: none; */
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: #23bda8;
    line-height: 43.5px;
    border-radius: 50%;
    padding-top: 1px;
    padding-left: 1px;
    font-size: 30px;
    z-index: 5;
    border: solid white 2px;
  }

  .whatsapp:hover {
    transition: 0.5s;
    background: #33e0c983;
    color: white;
    border: solid white 2px;
  }

  .boton-subir {
    position: fixed;
    right: 15px;
    bottom: 25px;
    border-bottom: none;
    border-radius: 2.5px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23bda8c4;
    transition: 1s;
    color: white;
  }
  .boton-subir i {
    margin: 0;
    font-size: 20px;
    color: white;
  }

  .features .icon p {
    text-align: center;
  }
}


.wrapper.style3.recomendaciones {
   background-color: #33e0c9;
    color: #505393;
    padding: 60px 0 40px;
}


.wrapper.style3.recomendaciones .inner {
   width: 80%;
}

.wrapper.style3.recomendaciones .inner .icon {
   background-color: transparent;
   padding: 10px 20px;
}

.wrapper.style3.recomendaciones p {
   background-color: #33e0c9;
    color: #505393;
    text-align: center;
    font-style: italic;
    font-weight: 500;
}

@media(max-width: 979px) {
  .wrapper.style3.recomendaciones .inner {
   width: 95%;
}
}